header {
  border: solid 1px #222f3f;
}
#sec {
  background-color: #222f3f;
  padding-top: 10px;
  padding-bottom: 8px;
  text-align: left;
}
#logo1 {
  width: 180px;
  padding-left: 20px;
}

table {
  border: solid 1px #364759;
  margin-bottom: 0px;
  display: block;
  margin-top: 0px;
  background-color: #364759;
}
header a {
  color: white;
}
h3 {
  border: solid 1px #f76500;
  background-color: #f76500;
  text-align: center;
  color: white;
  font-size: 10px;
  padding-top: 4px;
  padding-bottom: 4px;
  margin-bottom: 20px;
  margin-top: 20px;
}
#div1 {
  background-image: url("bg-image.png");
  text-align: center;
  color: white;
  padding: 23px;
  background-size: contain;
}
main {
  margin-left: 30px;
  margin-right: 30px;
}
.div2 {
  border: white solid 10px;
  background-image: url(img_1.jpg);
  height: 300px;
  width: 300px;
  border-radius: 12%;
  background-size: contain;
}

.div3 {
  border: white solid 10px;
  background-image: url(img_2.jpg);
  height: 300px;
  width: 300px;
  border-radius: 12%;
  background-size: cover;
}

.div4 {
  border: white solid 10px;
  background-image: url(img_3.jpg);
  height: 300px;
  width: 300px;
  border-radius: 12%;
  background-size: cover;
}

.div5 {
  border: white solid 10px;
  background-image: url(img_4.jpg);
  height: 300px;
  width: 300px;
  border-radius: 12%;
  background-size: cover;
}

div div {
  display: inline-block;
  
  
}

.img2 {
  height: 290px;
  margin-top: 20px;
  width: -webkit-fill-available;
}
figcaption {
  text-align: center;
}
main a {
  color: purple;
}
a {
  text-decoration: none;
}

footer div {
  background-color: #222f3f;
  padding-top: 16px;
  padding-bottom: 29px;
  margin-bottom: 10px;
  color: white;
  text-align: center;
}
#logo2 {
  width: 90px;
  padding-top: 11px;
}

footer a {
  border: solid 1px #222f3f;
  margin-bottom: 0px;
  display: block;
  margin-top: 0px;
  background-color: #364759;
  text-align: center;
  font-size: 14px;
  padding: 8px;
  text-decoration: underline;
  color: white;
  margin-top: 20px;
}
#contorno {
  border: white solid 1px;
  background-color: white;
  padding-left: 15px;
  padding-bottom: 10px;
  margin-top: 20px;
}

body {
  background-color: #e9edee;
  text-align: center;
}
